*{margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}


/* ------ SPA page lnb ------ */


.navbar-brand {
  cursor: pointer;
}


.nav_bg {
  width: 100%; height: 80px;
  background-color: rgba(40, 56, 75, 90%);
  border-radius: 50px;
  line-height: 35px;
  text-align: center;
  margin: 60px auto;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav_bg .nav {
  justify-content: center;
}

.nav_bg a {
  /* border: 1px solid #2d2d2d; */
  background-color: linear-gradient(0deg, rgb(40, 56, 75) 0%, rgb(40, 56, 75) 100%);
  border-radius: 20px;
  margin: 1% 20px;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
  0px 0px 20px 5px rgba(45,45,45,20%),
  0px 0px 20px 0px rgba(250,250,250,20%);
  color:#f1f1f1;
  font-weight: bold;
}

.nav_bg a:hover {
  text-decoration: underline;
  color:#f1f1f1;
}

.nav_bg .active {
  background-color: #f1f1f1;
  color: black;
}

.nav_bg .active:hover {
  color: #2d2d2d;
}


/* ------ vs_main ------ */

.carousel {
  padding-bottom: 60px;
}

.carousel-indicators [data-bs-target]{
  width: 200px; height: 10px;
}

.vs_main {
  display: flex;
  justify-content: center;
}

.vs_main .vs_img {
  /* width: 616px; height: 353px; */
  width: 40%;
  margin-right: 10px;
}


.vs_main .vs_img img {
  width: 100%; height: 100%;
}


.thumb_vs_main {
  width: 40%;

}

.thumb_vs_main h3 {
  color: #f1f1f1;
  margin: 10px 0;
}

.thumb_vs_main .thumb_img_box {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.thumb_vs_main .thumb_img_box .vs_thumb_img {
  width: calc(50% - 10px);
  margin-bottom: 10px; 
}

.thumb_vs_main .thumb_img_box .vs_thumb_img:nth-child(2n) {
  margin-left: 10px;
}

.thumb_vs_main .thumb_img_box .vs_thumb_img.pick {
  border: 2px solid #f1f1f1;
  padding: 1%; box-sizing: border-box;
}

.thumb_vs_main .vs_thumb_img img {
  width: 100%; height: 100%;
}


/* ------ add Daily Picker ------ */


.daily_view {
  position: fixed;
  top: 60px;
  right: -151px;
  transition: all 0.3s;
}

.daily_view:hover {
  right: 0;
}

.daily_view .daily_view_btn {
  width: 30px; height: 180px;
  border: 1px solid black;
  position: absolute;
  left: -21%;
  background-color: #20232a;
  border-radius: 5px;
}

.daily_view .daily_view_btn p {
  color: #f1f1f1;
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
}

.daily_view .daily_p {
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.daily_view .daily_view_box{
  width: 150px;
  border: 1px solid #ccc;
  position: relative;
  background-color: #f1f1f1;
}

.daily_view .daily_view_box .daily_img_box {
  padding: 50% 0;
}

.daily_view .daily_view_box .daily_img_box .thumb_image {
  position: relative;
  margin: 20px 0;
}

.daily_view .daily_view_box .daily_img_box .thumb_image .view_img_del {
  width: 30px; height: 30px;
  position: absolute;
  top: -15px;
  right: 0px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #20232a;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

.daily_view .daily_view_box .daily_img_box .thumb_image .daily_view_img {
  display: block;
  width: 130px; height: 100px;
  margin: 10px auto;
}

.daily_view .daily_view_box .daily_img_box .thumb_image .daily_view_img img {
  width: 100%; height: 100%;
}


/* ------ cart alert ------ */

.cart_alert {
  width: 500px; height: 250px;
  background-color: #8F98A0;
  border: 1px solid black;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -250px;
  z-index: 33;
}

.cart_alert h3 {
  text-align: center;
  line-height: 150px;
}



/* ------ component style ------ */


.game_list {
  margin: 60px 0;
}
/* .game_item {
  display: flex;
  border:  1px solid #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 70%);
  margin-bottom: 20px;
} */
.game_item .item_info {
  width: 100%;
  text-align: left;
  padding: 2%; box-sizing: border-box;
  background-color: #fff;
}

.tag_list {
  width: 100%;
  padding: 0;
}

.tag_list li {
  display: inline-block;
  padding: 1% 2%;
  border: 1px solid beige;
  background-color: rgba(190, 190, 190, 30%);
  border-radius: 10px;
  margin-right: 10px; 
}

.game_item .item_info p {
  margin-bottom: 0;
}

.game_item .item_info .price {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.game_item .item_info .price .free_play {
  background-color: rgba(190, 190, 190, 30%);
  padding: 1%;
}

.game_item .item_info .price .discount_per {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 80px;
  border:1px solid #ccc;
  margin-right: 10px;
  color: #01b053;
}

.game_item .item_info .price .del_cost {
  position: relative;
  font-size: 15px;
  text-align: right;
}

.game_item .item_info .price .del_cost::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-bottom: 1px solid #2d2d2d;
  transform: skewY(-15deg);
}

.game_item .item_info .price .cost_result {
  padding: 0 1%; box-sizing: border-box;
  background-color: rgba(180, 180, 180, 30%);
}

.game_item .item_info .price .cost_result .discount_cost {
  font-size: 18px;
  font-weight: 500;
  color: #01b053;
}

.game_item .item_info .price .item_cost{
  background-color: rgba(180, 180, 180, 30%);
  padding: 1%; box-sizing: border-box;
}


/* ------ About component Style ------ */

.about_page .page01 {
  background: linear-gradient(0deg, rgb(29, 32, 32) 0%, rgb(29, 32, 36) 100%);
}
.about_page .page01 .bg {
  display: flex;
  width: 1440px; height: calc(100vh - 60px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}
.about_page .page01 .aside_info .about_logo {
  overflow: hidden;
  margin-bottom: 20px;
}

.about_page .page01 .aside_info .about_logo img {
  float: left;
}

.about_page .page01 .aside_info h2,
.about_page .page01 .aside_info p{
  color: #f1f1f1;
  text-align: left; 
  margin-bottom: 20px;
}

.about_page .page01 .aside_info p img{
  margin: 0 5px;
}

.about_page .page01 .aside_info p img:nth-child(1) {
  padding-bottom: 4px;
}

.about_page .page01 .info_view img{
  border-radius: 30%;
}


.about_page .page02 {
 position: relative;
 background-image : url(/public/images/about_game_ban01.jpg), url(/public/images/about_game_ban02.jpg),
url(/public/images/about_game_ban03.jpg),
url(/public/images/about_game_ban04.jpg),
url(/public/images/about_game_ban05.jpg),
url(/public/images/about_game_ban06.jpg),
url(/public/images/about_game_ban07.jpg),
url(/public/images/about_game_ban08.jpg),
url(/public/images/about_game_ban09.jpg),
url(/public/images/about_game_ban10.jpg),
url(/public/images/about_game_ban11.jpg),
url(/public/images/about_game_ban12.jpg);
background-repeat: no-repeat;
background-size: 150px 50px, 150px 70px, 200px 100px, 300px 100px, 200px 100px, 150px 50px, 150px 100px, 150px 60px, 250px 100px, 200px 80px, 150px 50px, 250px 100px;
background-position: 20% 30%, 10% 10%, 30% 10%, 10% 65%, 35% 75%, 20% 85%, 70% 10%, 90% 13%, 80% 30%, 70% 70%, 90% 65%, 85% 87%;
}

.about_page .page02 .bg{
  background: linear-gradient(0deg, rgb(40, 56, 75) 20%, rgb(29, 32, 32) 60%);
  height: 100vh;
  position: relative;
  z-index: -1;
}

.about_page .page02 .bg .down_arr {
  position: absolute;
  bottom: 5%;
  left: 50%;
  animation: down 0.5s infinite alternate linear;
}

@keyframes down {
  to {
    bottom: 4%;
  }
}

.about_page .page02 .bg .down_arr p{
  color: #f1f1f1;
}

.about_page .page02 .bg .down_arr .down_arr_icon img{
  width: 30px; height: 30px;
}

.about_page .page02 .play_sign {
  width: 500px;
  color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_page .page02 .play_sign h2{
  font-size: 45px;
  font-weight: bold;
}

.about_page .page02 .play_sign p{
  font-size: 24px;
}


.about_page .page03 {
  background: linear-gradient(0deg, rgb(29, 32, 32) 0%, rgb(29, 32, 36) 100%);
}

.about_page .page03 .bg {
  padding: 5% 0;
  width: 1440px;
  margin: 0 auto;
}

.about_page .page03 .bg .info_flex {
  display: flex;
}

.about_page .page03 .bg .info_flex .info_txt {
  color: #f1f1f1;
  width: 50%;
  padding: 10%;
}

.about_page .page03 .bg .info_flex .info_txt h2 {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.about_page .page03 .bg .info_flex .info_txt p {
  font-size: 24px;
  text-align: left;
}

.about_page .page03 .bg .info_flex .info_view {
  padding: 5%;
  width: 50%;
}

.about_page .page03 .bg .info_flex .info_view img {
  width: 100%; height: 100%;
}

/* ------ Support Component Style ------ */

.support_wrap {
  width: 70%;
  padding: 5% 0;
}

.support_wrap h2 {
  text-align: left;
}

.support_wrap>p {
  text-align: left;
  font-size: 20px;
  color: #5b9add;
}

.support_wrap .product>div {
  background-image: url(/public/images/support_arrow_right.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.support_wrap .help>div {
  background-image: url(/public/images/support_arrow_right.png);
  background-repeat: no-repeat;
  background-position: 99%;
}

/* ------ Cart component Style ------ */

.cart_wrap {
  height: 100vh;
}

.path {
  text-align: left;
  margin: 20px 0;
}

.item_cart_count {
  width: 15px; height: 15px;
  background-color: red;
  font-size: 10px;
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 50px;

}

.item_cart_count hr {
  margin-bottom: 50px;
}

.cart_name {
  text-align: left;
}

.table th {
  height: 30px;
}

.cart_item_list .cart_item_img {
  width: 100px; height: 100%;
  padding: 1% 0; box-sizing: border-box;
}

.cart_item_list .cart_item_img img {
  width: 100%; height: 100%;
}

.cart_item_list .cart_item_title {
  /* width: calc(100% - 150px); */
  font-size: 18px;
  padding-top: 50px;
}

.cart_item_list .c_del_cost,
.cart_item_list .cart_discount,
.cart_item_list .c_result_cost,
.cart_item_list .c_item_cost,
.cart_item_list td:nth-child(7)
 {
  padding-top: 50px;
}

.cart_item_list .del_txt {
  cursor: pointer;
}

.cart_item_list .c_result_cost {
  width: 100px;
}

.count_btn {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count_btn .count {
  width: 50px;
  margin-top: 13px;
}

.count_btn button {
  width: 30px; height: 30px;
  border-radius: 50px;
}

.last_total td {
  height: 100px;
  font-size: 25px;
}

.last_total td:nth-child(6) {
  width: 140px;
}


.last_total {
  position: relative;
}

.last_total .cart_zero_msg {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-bottom: 100px;
  border-bottom: 1px solid #ccc;
}

.order_btn {
  overflow: hidden;
}

.order_btn button{
  float: right;
  padding: 1%; box-sizing: border-box;
  margin: 1%;
  border-radius: 10px;
}

/* ------ detail_page ------ */

.detail_wrap {
  padding-bottom: 20%;
}

.flex_detail_main {
  display: flex;
  justify-content: space-between;
}

.item_detail {
  width: 450px; height: 100%;
  border: 1px solid #ccc;
  position: relative;
}

.item_detail .item_main_img {
  width: 450px;
}

.item_detail .item_main_img img{
  width: 100%;
}

.item_detail_info .detail_desc {
  margin: 2% 0; box-sizing: border-box;
  text-indent: 8px;
  height: 150px;
}

.item_detail_info .detail_info_txt {
  text-align: left;
  margin-left: 20px;
}


.item_detail_info .detail_info_txt .detail_discount {
  padding: 2%; box-sizing: border-box;
  font-size: 30px;
  color: #01b053;
  font-weight: 500;
  background-color: #20232a;
  box-shadow: inset 1px 1px 2px 0px rgba(255, 255, 255, 50%);
  position: absolute;
  top: -25px;
  right: -30px;
}

/* ------ footer ------ */

.footer_wrap {
  background-color:#171a21;
  height: 100%;
  padding: 1% 0;
}

.footer_wrap hr{
  color: #f1f1f1;
  margin: 0;
  padding: 1% 0;
}

.footer_wrap .footer_top {
  overflow: hidden;
}

.footer_wrap .footer_top .foot_logo {
  width: 130px;
  float: left;
  margin-right: 10px;
}

.footer_wrap .footer_top .foot_logo img {
  width: 100%;
}

.footer_wrap .footer_top p {
  color:#8F98A0;
  text-align: left;
  font-size: 14px;
  width: 70%;
  float: left;
}

.footer_wrap .footer_top p ul {
  display: inline;
  padding-left: 10px;
}

.footer_wrap .footer_top p ul li {
  display: inline-block;
  color: #C6D4DF;
  border-right: 1px solid #C6D4DF;
  padding-right: 10px;
  margin-right: 10px;
  cursor: pointer;
  line-height: 12px;
}

.footer_wrap .footer_top p ul li:last-child {
  border: none;
}

.footer_wrap .footer_top p ul li:hover,
.footer_wrap .footer_bottom ul li:hover {
  color: #f1f1f1;
}

.footer_wrap .footer_top .foot_logo01 {
  float: right;
  width: 130px;
}

.footer_wrap .footer_top .foot_logo01 img {
  width: 100%; height: 100%;
}

.footer_wrap .footer_bottom ul {
  text-align: left;
  padding-left: 0;
}

.footer_wrap .footer_bottom ul li{
  display: inline-block;
  color: #C6D4DF;
  border-right: 1px solid #C6D4DF;
  padding-right: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 12px;
}

.footer_wrap .footer_bottom ul li:last-child {
  border: none;
}